<article class="docs-article" id="apis">
    <header class="docs-header">
        <h1 class="docs-heading">APIs</h1>
        <section class="docs-intro">
            <p>Let's explore what exactly all the hyper classes do.</p>
        </section><!--//docs-intro-->
    </header>
    <section class="docs-section" id="item-3-1">
        <h2 class="section-heading">Hyper packages</h2>
        <p>The core application packages</p>
        {% for package in packages %}
            <a href="/docs/api/{{ package }}"><h4><code>\Hyper\{{ package }}</code></h4></a>
        {% endfor %}
    </section><!--//section-->

    <section class="docs-section" id="item-3-2">
        <h2 class="section-heading">Section Item 3.2</h2>
        <p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis
            leo. Aliquam sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis
            felis bibendum imperdiet. Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio
            in felis ultricies porttitor. Donec at purus libero. Vestibulum libero orci, commodo nec
            arcu sit amet, commodo sollicitudin est. Vestibulum ultricies malesuada tempor.</p>
    </section><!--//section-->

    <section class="docs-section" id="item-3-3">
        <h2 class="section-heading">Section Item 3.3</h2>
        <p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis
            leo. Aliquam sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis
            felis bibendum imperdiet. Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio
            in felis ultricies porttitor. Donec at purus libero. Vestibulum libero orci, commodo nec
            arcu sit amet, commodo sollicitudin est. Vestibulum ultricies malesuada tempor.</p>
    </section><!--//section-->
</article><!--//docs-article-->
