<article class="docs-article" id="introduction">
    <header class="docs-header">
        <h1 class="docs-heading">Introduction <span class="docs-time">Last updated: {{ lastUpdated }}</span></h1>
        <section class="docs-intro">
            <p></p>
        </section><!--//docs-intro-->

        <section id="what-is-hyper">
            <h5>What is hyper</h5>
            <p>Hyper is a lite <a class="theme-link scrollto" href="#mvc">mvc</a>-based php framework with many other
                capabilities that will enable you, the developer
                to develop websites and web-apps with much dynamism and speed as possible. The idea was inspired by
                the need for a structured code in php and not using some huge frameworks even for a small thing.</p>
        </section>

        <section id="mvc">
            <h5>Model-View-Controller(MVC)</h5>
            <p>The View acts as GUI, Model Acts as Back End and Control acts as an adapter. Here three parts are
                interconnected with each other. It will pass the data and access the data between each other.</p>
            <p>MVC is a concept of creating pages that are driven by a given model with the the controller doing all the
                heavy work. The main reason for this kind of approach is separation of concerns.</p>
            <p>So then to simplify stuff we will give you the task to create models and from these models we create your
                database tables then render your pages using <a class="theme-link scrollto" href="#twig">Twig templating
                    engine</a>. Your controllers control what to
                visit or what to show when what link is visited</p>
        </section>

        <section id="twig">
            <h5>Twig Templating Engine</h5>
            <p>Twig is a template language for PHP, released under the new BSD license (code
                and documentation). Twig uses a syntax similar to the Django and Jinja template languages which
                inspired the Twig runtime environment.</p>
            <p>Visit the <a class="theme-link" href="https://twig.symphony.com">official site</a> for more and <a
                        class="theme-link" href="https://twig.symfony.com/documentation">documentation</a></p>
        </section>

        {#        <h5>Model-View-Controller</h5>#}
        {#        <p>You can <a class="theme-link" href="https://gist.github.com/"  target="_blank">embed your code snippets using Github gists</a></p>#}
        {#        <div class="docs-code-block">#}
        {#            <!-- ** Embed github code starts ** -->#}
        {#            <script src="https://gist.github.com/xriley/fce6cf71edfd2dadc7919eb9c98f3f17.js"></script>#}
        {#            <!-- ** Embed github code ends ** -->#}
        {#        </div><!--//docs-code-block-->#}

    </header>
    <section class="docs-section" id="why-hyper">
        <h2 class="section-heading">Why hyper?</h2>
        <p>One might be tempted to ask "Why should i use this hyper thingy?",</p>
        <p>Well there is probably a countless number
            of <code>php mvc</code> frameworks out there which offer even better stuff, but fortunately enough you're
            here so let me give you reasons to stay:</p>
        <ol>
            <li>Have you ever just gotten irritated by the urls that always ended up saying something something .php or
                .html, if yes then you've come to the right place.
            </li>
            <li>Or are you tired of defining routes that should hide your app file structure? Hyper does that for you,
                no more to defining an endless array of routes
                <p>Just say: {{ highlight("new \Hyper\Application\HyperApp('SuperCoolAppName')")|raw }} and watch the
                    magic happen.</p>
            </li>
            <li>Do you get bored of writing all long "quoted SQL" when you just want to add a simple object to your
                database ?
                <p>How does this look?</p>
                <code class="d-block docs-code-block">
                    {{ highlight("
                        $db = new DatabaseContext('singular::of::table');

                        //INSERT INTO [plural::of::table](...) VALUES(...)
                        $db->add($myObject);

                        //SELECT * FROM [plural::of::table]
                        $db->all(/* optional [columns]*/);

                        //UPDATE [plural::of::table] SET ...
                        $db->update($updatedObject);

                        //DELETE WHERE ...<br>
                        $db->delete($entity, /* [bool $softDelete, bool $deleteAll] */);

                        # search, pagination, where...and many more
                    ")|raw }}
                </code>
            </li>
            <li>You tired of writing structureless code? Come lets do it with <a class="scrollto theme-link"
                                                                                 href="#mvc">Model-View-Controller</a>
            </li>
        </ol>
        <p>Now that, that's out of our way lets go to the <a class="scrollto theme-link" href="#getting-started">good
                stuff</a></p>
    </section><!--//section-->

    <section class="docs-section" id="getting-started">
        <h2 class="section-heading">Getting started</h2>
        <p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis leo. Aliquam
            sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis felis bibendum imperdiet.
            Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio in felis ultricies porttitor. Donec at
            purus libero. Vestibulum libero orci, commodo nec arcu sit amet, commodo sollicitudin est. Vestibulum
            ultricies malesuada tempor.</p>
        <h5>Your homepage should look like this:</h5>
        <figure class="figure docs-figure py-3">
            <a href="/assets/img/features/appify-theme-projects-overview-lg.jpg" data-title="Image Lightbox Example"
               data-toggle="lightbox">
                <img class="figure-img img-fluid shadow rounded" src="/assets/img/features/appify-add-members.gif"
                     alt="" style="width: 600px;"></a>
            <figcaption class="figure-caption mt-3">
                <i class="fas fa-info-circle mr-2"></i> Hyper-Starter Hello World example.
            </figcaption>
        </figure>
    </section><!--//section-->

    <section class="docs-section" id="whats-next">
        <h2 class="section-heading">What's next?</h2>
        <p>At this point you maybe wondering, now that I know how awesome Hyper is, so then what do I do next? You can
            try any of the following:</p>
        <ul>
            <li>Browse the APIs</li>
            <li>View examples</li>
            <li>Continue reading</li>
        </ul>
    </section><!--//section-->

    {#    <section class="docs-section" id="contributors">#}
    {#        <h2 class="section-heading">Contributors</h2>#}
    {#        <p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis leo. Aliquam#}
    {#            sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis felis bibendum imperdiet.#}
    {#            Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio in felis ultricies porttitor. Donec at#}
    {#            purus libero. Vestibulum libero orci, commodo nec arcu sit amet, commodo sollicitudin est. Vestibulum#}
    {#            ultricies malesuada tempor.</p>#}


    {#        <nav aria-label="Contributors">#}
    {#            <ul class="pagination pl-0">#}
    {#                <li class="page-item">#}
    {#                    <a tooltip="Hello" class="page-link" href="#">#}
    {#                        <img src="/assets/img/logo.png" class="known-guy rounded-circle" />#}
    {#                    </a>#}
    {#                </li>#}
    {#                <li class="page-item">#}
    {#                    <a tooltip="Hello" class="page-link" href="#">#}
    {#                        <img src="/assets/img/logo.png" class="known-guy rounded-circle" />#}
    {#                    </a>#}
    {#                </li>#}
    {#                <li class="page-item">#}
    {#                    <a tooltip="Hello" class="page-link" href="#">#}
    {#                        <img src="/assets/img/logo.png" class="known-guy rounded-circle" />#}
    {#                    </a>#}
    {#                </li>#}
    {#            </ul>#}
    {#        </nav>#}

    {#    </section><!--//section-->#}
    {#    #}
    <section class="docs-section" id="credits">
        <h2 class="section-heading">Credits</h2>
        <p>Special thanks to the Starlight team and all guys who supported this project.</p>
    </section><!--//section-->
    <section class="docs-section" id="license">
        <h2 class="section-heading">LICENSE</h2>
        <p>Hyper is published under the MIT license. The license text can be found on <a
                    href="https://github.com/joecharika/hyper/blob/master/LICENSE" target="_blank" class="theme-link">github</a>
        </p>
    </section><!--//section-->

</article>