<article class="docs-article" id="installation">
    <header class="docs-header">
        <h1 class="docs-heading">Installation</h1>
        <section class="docs-intro">
            <p>Installing hyper won't take much of your time, so lets dive into it straight away.</p>
        </section><!--//docs-intro-->
    </header>
    <section class="docs-section" id="downloading">
        <h2 class="section-heading">Downloading & installing</h2>
        <p>You can download hyper straight from our <a href="https://github/joecharika/hyper">git repo</a> or the starter template from <a href="https://github.com/joecharika/hyper-starter">here</a></p>
        <h4 id="project-prerequisites">Pre-requisites</h4>
        <ul>
            <li>Git, get it <a href="https://git-scm.com/downloads" target="_blank">here</a>.</li>
            <li>Composer, get it <a href="https://getcomposer.org/download/" target="_blank">here</a></li>
            <li>PHP, get it <a href="https://www.php.net/downloads.php" target="_blank">here</a></li>
        </ul>
        <h4 id="project-downloading">Downloading</h4>
        <ul class="list-unstyled">
            <li><code>$ git clone <a href="https://github.com/joecharika/hyper-starter" target="_blank">https://github.com/joecharika/hyper-starter</a> [project-name]</code></li>
        </ul>
        <h4 id="project-installing">Installing</h4>
        <ul class="list-unstyled">
            <li><code>$ cd [project-name]</code></li>
            <li><code>$ composer install</code> --OR-- <code>$ composer.phar install</code></li>
            <li><code>$ composer dump-autoload -o</code></li>
        </ul>
        <h4 id="project-running">Run</h4>
        <ul class="list-unstyled">
            <li><code>$ php -S <a target="_blank" href="http://localhost:3000">localhost:3000</a></code></li>
        </ul>
    </section><!--//section-->
</article><!--//docs-article-->
